body{
    padding: 0px;
    margin: 0px;
    background-color: #212121;
    color: white;
    overflow-x: none;
    border: 2px solid white;
    width:99%;
    height:auto;
    box-sizing: border-box;
}

.container{
    position: relative;
    left:0px;
}

.header{
    border: 2px solid white;
}

.blogCollection{
    margin-top:5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    padding:10px 40px;
}

.card{
    height: 400px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
}


.form{
    width:500px;
    height:650px;
    position: absolute;
    left:32%;
    top:107px;
    z-index: 1;
    background-color: #010e05;
    border-bottom-left-radius: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content
{
    margin-left:85px;
    font-size: 1rem;
    color: #f2f2f2;
    box-sizing: border-box;
}

.top
{
    width:100%;
    height: 50px;
    padding:14px 10px;
    box-sizing: border-box;
    background-color: #1c1e20;
}
.top button
{
    width:20px;
    height:20px;
    border-radius: 100%;
    border: none;
    outline:none;
}

#imgUrlUpload,#blogTitle,#blogDescription
{
    width:130%;
    height: 40px;
    padding: 0px 10px;
    margin-top:5px;
    box-sizing: border-box;
    background-color: #111514;
    color: #c0c0c0;
   border: none;
    outline: none;
}

#blogDetails
{
    width:130%;
    padding:5px 10px;
    margin-top:5px;
    resize: none;
    color: #c0c0c0;
    font-size: 14px;
    background-color: #111514;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.addBlog-2
{
    width:130%;
    height:50px;
    background-color: #36ec7e;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    border: none;
}

button:hover
{
    cursor: pointer;
}

.close
{
    background-color: #f45952;
}
.no1
{
    background-color: #dfb94e;
}
.no2
{
    background-color: #5ab748;
}